/* DanielsDeveloperDesigner */
@keyframes typing {
  0% {
    content: " |";
  }
  1% {
    content: " D|";
  }
  2% {
    content: " Da|";
  }
  3% {
    content: " Dan|";
  }
  4% {
    content: " Dani|";
  }
  5% {
    content: " Danie|";
  }
  6% {
    content: " Daniel|";
  }
  7% {
    content: " Daniels|";
  }
  8% {
    content: " Daniel|";
  }
  9% {
    content: " Danie|";
  }
  10% {
    content: " Dani|";
  }
  11% {
    content: " Dan|";
  }
  12% {
    content: " Da|";
  }
  13% {
    content: " D|";
  }
  14% {
    content: " |";
  }
  15% {
    content: " De|";
  }
  16% {
    content: " Dev|";
  }
  17% {
    content: " Deve|";
  }
  18% {
    content: " Devel|";
  }
  19% {
    content: " Develo|";
  }
  20% {
    content: " Develop|";
  }
  21% {
    content: " Develope|";
  }
  22% {
    content: " Developer|";
  }
  23% {
    content: " Develope|";
  }
  24% {
    content: " Develop|";
  }
  25% {
    content: " Develo|";
  }
  26% {
    content: " Devel|";
  }
  27% {
    content: " Deve|";
  }
  28% {
    content: " Dev|";
  }
  29% {
    content: " De|";
  }
  30% {
    content: " D|";
  }
  40% {
    content: " |";
  }
  41% {
    content: " D|";
  }
  42% {
    content: " De|";
  }
  43% {
    content: " Des|";
  }
  44% {
    content: " Desi|";
  }
  45% {
    content: " Desig|";
  }
  46% {
    content: " Design|";
  }
  47% {
    content: " Designe|";
  }
  48% {
    content: " Designer|";
  }
  49% {
    content: " Designe|";
  }
  50% {
    content: " Design|";
  }
  51% {
    content: " Desig|";
  }
  52% {
    content: " Desi|";
  }
  53% {
    content: " Des|";
  }
  54% {
    content: " De|";
  }
  55% {
    content: " D|";
  }
  56% {
    content: " |";
  }
  57% {
    content: " |";
  }
  58% {
    content: " D|";
  }
  59% {
    content: " Da|";
  }
  60% {
    content: " Dan|";
  }
  61% {
    content: " Dani|";
  }
  62% {
    content: " Danie|";
  }
  63% {
    content: " Daniel|";
  }
  64% {
    content: " Daniels|";
  }
  65% {
    content: " Daniel|";
  }
  66% {
    content: " Danie|";
  }
  67% {
    content: " Dani|";
  }
  68% {
    content: " Dan|";
  }
  69% {
    content: " Da|";
  }
  70% {
    content: " D|";
  }
  71% {
    content: " |";
  }
  72% {
    content: " De|";
  }
  73% {
    content: " Dev|";
  }
  74% {
    content: " Deve|";
  }
  75% {
    content: " Devel|";
  }
  76% {
    content: " Develo|";
  }
  77% {
    content: " Develop|";
  }
  78% {
    content: " Develope|";
  }
  79% {
    content: " Developer|";
  }
  80% {
    content: " Develope|";
  }
  81% {
    content: " Develop|";
  }
  82% {
    content: " Develo|";
  }
  83% {
    content: " Devel|";
  }
  84% {
    content: " Deve|";
  }
  85% {
    content: " Dev|";
  }
  86% {
    content: " De|";
  }
  87% {
    content: " D|";
  }
  88% {
    content: " |";
  }
  89% {
    content: " |";
  }
  90% {
    content: " D|";
  }
  91% {
    content: " De|";
  }
  92% {
    content: " Des|";
  }
  93% {
    content: " Desi|";
  }
  94% {
    content: " Desig|";
  }
  95% {
    content: " Design|";
  }
  96% {
    content: " Designe|";
  }
  97% {
    content: " Designer|";
  }
  98% {
    content: " Designer |";
  }
  99% {
    content: " Designer  |";
  }
  100% {
    content: " Designer|";
  }
}
